<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- null 데이터가 전달되었다면 빈칸이아닌 null 로 인식하라는 뜻 , 주의 : value에 null 은 반드시 대문자로 !!-->
    <settings>
        <setting name= "jdbcTypeForNull" value="NULL"/>
        <!-- MyBatis가 SQL을 포매팅하여 출력하도록 설정 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />

    </settings>

    <typeAliases>
        <typeAlias type="com.multi.shop.member.model.dto.MemberDTO" alias="Member"/>
        <typeAlias type="com.multi.shop.product.model.dto.ProductDTO" alias="Product"/>
        <typeAlias type="com.multi.shop.product.model.dto.SearchCriteria" alias="SearchCriteria"/>
        <typeAlias type="com.multi.shop.product.model.dto.CompanyDTO" alias="Company"/>
        <typeAlias type="com.multi.shop.product.model.dto.AttachmentDTO" alias="Attachment"/>
        <typeAlias type="com.multi.shop.board.model.dto.BoardDTO" alias="Board"/>

    </typeAliases>


</configuration>